/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    text-align: center;
}


@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
/*    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  
        margin:-90px 0px 0px -198px;                                        
    }*/

/*    #left {
        float:none;
        margin: auto;
    }
    #right {
        float:none;
        margin: auto;
    }*/

    #control {
        float: left;
        margin-left: 10%;
    }

    #stats {
        float: right;
        margin-right: 10%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*#left {
    float:left;
    margin-left: 15%;
}

#right {
    float:right;
    margin-right: 15%;
}*/

/* Change the link color to #111 (black) on hover */

.add {
    visibility: hidden;
}

.timeSpan {
    visibility: hidden;
}

.active {
    background-color: #4CAF50;
}